body {
  background-color: hsl(225, 100%, 94%);
  background-image: url("images/pattern-background-desktop.svg");
  background-repeat: no-repeat;
  font-family: "Red Hat Display", sans-serif;
  font-size: 16px;
  display: block;
}

h1 {
  font-weight: 900;
  font-size: 28px;
  text-align: center;
  margin: 8% 12% 6%;
  color: hsl(223, 47%, 23%);
}

h2 {
  margin: 8%;
  font-size: 18px;
  text-align: left;
  font-weight: 900;
}

a {
  margin: auto;
}
.hero-text p {
  font-size: 18px;
  color: hsl(224, 23%, 55%);
  text-align: center;
  margin: 4% 12% 8%;
}

.card {
  background-color: white;
  margin: 11.11vh 32%;
  max-width: 450px;
  max-height: 700px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}
.hero-img {
  max-width: 100%;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
.annual {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: hsl(225, 100%, 98%);
  width: 25vw;
  margin: 4% auto;

  border-radius: 8px;
  justify-content: space-between;
}

.annual-icon {
  display: inline-flex;
  flex: 25%;
  
}
.annual-icon img {
  width: 4vw;
  height: 4vw;
  margin: 18%;
}
.annual-price {
  display: inline-flex;
  flex: 50%;
  flex-direction: column;
}

.annual-price h2 {
  display: flex;
  margin: 10% auto 4% 0;
  color: hsl(223, 47%, 23%);

}
.annual-price p {
  display: flex;
  margin: 0 auto 10% 0;
  color: hsl(224, 23%, 55%);
}
.annual-link {
  display: inline-flex;
  flex: 25%;
  margin: auto;
}
.annual-link a {
  font-weight: 700;
  font-size: 14px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.buttons {
  text-align: center;
  margin: 4% auto;
}
.btn {
  width: 26vw;
  font-weight: 700;
  font-family: "Red Hat Display", sans-serif;
  border: transparent;
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  -webkit-box-shadow: 0px 4px 13px #766cf1;
  -moz-box-shadow: 0px 4px 13px #766cf1;
  box-shadow: 0px 4px 16px #766cf1;
  color: hsl(225, 100%, 98%);
  background: #382ae1;
  padding: 15px 56px;
  margin: 4% auto;
  text-decoration: none;
}

.btn:hover {
  background: #766cf1;
  text-decoration: none;
  cursor: pointer;
}

.btn2 {
  border: transparent;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 900;
  color: hsl(224, 23%, 55%);
  background: transparent;
  padding: 10px 40px 10px 40px;
  margin: 2% auto 12%;
  text-decoration: none;
}

.btn2:hover {
  font-weight: 900;
  color: hsl(223, 47%, 23%);
  background: transparent;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
 
.card {
  margin: 20% 4%;
}

h1 {
  font-size: 22px;
  margin: 7% auto 6% auto;
  font-weight: 900;
}
.hero-text p {
  margin: 0 0 8% 0;
  font-size: 15px;
  line-height: 1.6;
}
.btn, .annual {
  font-size: 15px;
  
  width: 300px;
  margin: 4%;
}
.btn2 {
  margin: 0 auto 8%;
  font-size: 15px;
  
}
.annual h2, .annual p, .annual-link p {
  font-size: 14px;
}

.annual-icon img {
  min-width: 36px;
  min-height: 36px;
  margin: 25%;
}

}